@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap');

body{
    background-color: #6a8a82;
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container{
    background-color: #282726;
    width: 650px;
    height: 700px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;

}

.heading{
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #F9F4DA;
    font-weight: 500;
}

.description{
    font-size: 15px;
    color: #8e8e8e;
}

.status{
    background-color: #10A95B;
    width: 300px;
    height: auto;
    min-height: 20px;
    border-radius: 7px;
}

.status > h2{
    color: #F9F4DA;    
    font-size: 20px;
    margin: 0;
}

.status > p{
    color: #F9F4DA;
    font-size: 1rem;
    margin: 2px;
}

.languages-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    max-width: 400px;
    margin-top: 10px;
}

.chip {
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}