@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap');

body{
    background-color: #6a8a82;
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    cursor: pointer;
}

.game-container{
    background-color: #282726;
    width: 650px;
    height: 700px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;

}

.heading{
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #F9F4DA;
    font-weight: 500;
}

.description{
    font-size: 15px;
    color: #8e8e8e;
}

.status{
    background-color: #10A95B;
    width: 300px;
    height: auto;
    min-height: 20px;
    border-radius: 4px;
}

.status > h2{
    color: #F9F4DA;    
    font-size: 20px;
    margin: 0;
}

.status > p{
    color: #F9F4DA;
    font-size: 1rem;
    margin: 2px;
}

.languages-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    max-width: 400px;
    margin-top: 10px;
}

span.chip {
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}
span.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.word-section{
    display: flex;
    gap: 3px;
}

.keyboard{
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    justify-content: center;
    gap: 6px;
    padding: 6px;
    
}

.keyboard > .default{
    background-color: #FCBA29;
    width: 40px;
    height: 40px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}

.keyboard > .wrong{
    background-color: #EC5D49;
    width: 40px;
    height: 40px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}

.keyboard > .correct{
    background-color: #10A95B;
    width: 40px;
    height: 40px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;

}



button.new-game {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}